#genres{
color: white;
background-color: black;
font-size: 1em;
padding: 0.5em;
}

.Filters{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: black;
}


.titleFilter {
    margin: 2em;
}