body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.MovieDetails {
  background: linear-gradient(-90deg, #23262d, #555a59);
  margin: 5em auto;
  width: 90%;
  color: white;
  padding: 2em;
  border-radius: 0.2em;
}

/*display title and .WatchListAdd button in row*/
.Heading-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movieCard {
  display: flex;
}

.movieContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*display genres horizontally*/
.Genres {
  display: flex;
  padding: 0;
}

.Genres li {
  list-style: none;
  margin-right: 2em;
  background-color: rgb(80, 85, 86);
  padding: 0.5em;
  border-radius: 3em;
  box-shadow: 0.1em 0.1em 0.9em #07070767;
}

/*style image*/
.movieCard img {
  margin: 1em 2em 3em 0.5em;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*Movie Title*/
.Title {
  font-size: 2.5em;
  margin: 0.5em 0.2em;
  font-weight: 500;
}

/*Tagline*/
.Tagline {
  font-family: sans-serif;
  font-weight: 600;
}

h3 {
  margin: 1em 0.5em 0.5em;
  font-weight: 500;
}


/* Changed selector to be specific to this page 
(threw off rating alignment on main page) */
.MovieDetails p {
  font-size: 1.25em;
  margin: 0.5em 0em;
  width: 80%;
}

/*Rating container*/
.rating-container {
  padding: 0;
  display: flex;
  margin-right: 3em;
}

.rating-container li {
    font-size: 1.25em;
    list-style: none;
    margin-right: 4.25em;
}

.rating {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.rating:nth-of-type(3) svg:hover {
    color: gold;
}

/*stars icon*/
.starsDetail {
  color: gold;
  margin-right: 0.5em;
}

/*Add to watchlist .WatchListAdd button */
.WatchListAdd button {
  padding: 0.75em 2.5em;
  border-style: none;
  border-radius: 1.5em;
  font-size: 1.25em;
  font-weight: 600;
  margin-right: 3em;
}

.WatchListAdd button:hover {
  background-color: rgb(195, 194, 194);
}
.WatchListAdd button .addIcon {
  display: inline-block;
  padding: 0em 0.1em;
  transition: transform 0.3s ease;
}

.WatchListAdd button:hover .addIcon {
  transform: rotate(90deg);
}

/*extra movie Details*/
.moreDetails {
  display: flex;
  padding: 0;
  margin: 0em;
}

.moreDetails li {
  list-style: none;
  margin-right: 3em;
}

.moreDetails span {
  color: #7ca992;
  font-weight: 500;
}

.popup-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.popup-form-content {

  border-radius: 1em;
  position: relative;
  color:white;
  box-shadow: 0 0 0 0.25em white;
  background: linear-gradient(-90deg, #23262d, #555a59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.popup-form-content input{
  background-color: rgb(197, 197, 197);
  color: black;
  font-weight: 600;
}

.popup-form-content label, .popup-form-content input{
  font-size: 0.9em;
}

.popup-form-content form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25em;
  height: 18em;
  margin: 0;
  margin-bottom: 2em;
}

.popup-form-content h2{
  font-size: 2.4em;
  margin-top: 0.2em;
  margin-bottom: 1.6em;
}

.popup-form-content form label{
  font-size: 0.8em;
  color: rgb(172, 172, 172);
  padding-left: 0.3em;
  padding: 0.3em;
}

.popup-form-content .container{
  display: flex;
  flex-direction: column;
  margin: 0.2em;
}

.popup-form-content .close{
  border-radius: 1;
  font-weight: 800;
  color: black;
  background-color: grey;
  padding:0.5em 1em;
  margin: 0;
  font-size: 0.8em;
  position: absolute;
  align-self: flex-end;
  right: 1em;
  top: 1em;
}

.popup-form-content .submit{
  margin: 0;
margin-top: 1.5em;
  font-size: 0.8em;
}

.popup-form-content .submit:hover{
  color: white;
box-shadow: 0 0 0 0.1em white;

}
.popup-form-content .close:hover{
  color: white;
  box-shadow: 0 0 0 0.1em white;

}



.WatchListFont {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
}
/* 
.notes{

} */