/* .searchResult {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 */

 form {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    margin: 2em 5em 2em 0;
}

/*search bar*/
input {
    background-color: #555a59b3;
    color: white;
    border: 0.1em;
    border-radius: 0.75em;
    padding: 1em 1.5em;
    font-size: 0.80em;
}

input:focus {
    outline: none;
}

/* Positioning magnifying glass symbol */
.mgGlass {
    font-size: 1em;
    color: white;
    position: absolute;
    right: 0.7em;
}

/*style placeholder text*/
::placeholder {
    color: rgba(232, 225, 225, 0.803);
    letter-spacing: 0.04em;
  }