.filters-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.noMovies-message {
  text-align: center;
  font-size: 1.25em;
  color: #ffffff;
}

.pagination {
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2em auto 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  color: white;
  border: none;
  width: 50%;
  margin: 2em 0.5em;
  border-radius: 0.3em;
  padding: 0.8em 1em;
  background-color: rgb(3, 3, 3);
  font-size: 1em;
  font-weight: 600;
}

.pagination button.active {
  border: 0.01em solid white;
}

.pagination button.active:hover {
  color: white;
}

.pagination .next-page {
  font-size: 1.25em;
}

.pagination button:hover {
  color: #f67723;
}

.pagination .next-page:disabled {
  opacity: 0;
}
