.MovieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  border-radius: 0.75em;
}

.MovieCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65); /* Semi-transparent background */
  opacity: 0; /* Start invisible */
  transition: opacity 0.3s ease; /* Smooth transition */
  pointer-events: none; /* Allow interaction with the image */
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

.MovieCard:hover::after {
  opacity: 1; /* Show overlay on hover */
}

.MovieCard:hover {
  transform: scale(1.03);
  border-radius: 0.7em;
}

.text h3 {
  font-size: 0.9em;
  min-height: 4em;
}

.text {
  z-index: 1;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0; /* Start invisible */
  transition: opacity 0.3s ease; /* Smooth transition */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  /* padding: 0.5em; */
}

.text a:hover {
  transform: scale(1.1);
  color: rgb(169, 169, 169);
}

.text a {
  color: white;
}

.MovieCard:hover .text {
  opacity: 1; /* Show text on hover */
  z-index: 1;
}

.MovieCard a {
  margin: 0;
  padding: 0;
}

.lora,
h3 .lora,
p .lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.movieTitle {
  width: 50%;
  margin: 0.5em;
  margin-top: 3em;
  margin-bottom: 1em;
  align-self: center;
  justify-self: flex-start;
}

#QuickAdd {
  width: 100%;
  background-color: #ff9500;
  padding: 0.5em;
  color: black;
  border: none;
  border-radius: 0.3em;
  font-size: 0.75em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.stars {
  font-size: 3em;
}

#rating {
  position: absolute;
  top: 62%;
  left: 45%;
  font-weight: 800;
  color: black;
  text-align: center;
}

#moreInfo {
  background-color: rgba(230, 230, 230, 0.791);
  padding: 0.5em;
  margin: 0.5em;
  color: rgb(3, 3, 3);
  border: none;
  border-radius: 0.3em;
  font-size: 0.75em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

#moreInfo:hover {
  background-color: rgba(255, 255, 255, 0.997);
}

#QuickAdd:hover {
  background-color: #fca429;
  color: rgb(255, 255, 255);
}

#QuickAdd svg{
  transition: transform 0.3s ease;
}

#QuickAdd:hover svg {
  transform: rotate(90deg);
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}
